[Unit]
After=graphical-session.target

[Service]
Type=exec
ExecStart=sh -c 'niri msg action do-screen-transition && wlogout'
Slice=session-graphical.slice
