spawn-at-startup "uwsm" "finalize" "NIRI_SOCKET" "DISPLAY" "XCURSOR_THEME" "XCURSOR_SIZE"

hotkey-overlay {
  skip-at-startup
}

clipboard {
  disable-primary
}

input {
  mod-key "mod5"
  mod-key-nested "super"

  keyboard {
    numlock

    xkb {
      layout "kcx"
    }

    repeat-delay 300
    repeat-rate 50
  }

  mouse {
    accel-profile "flat"
    accel-speed 0.0
    scroll-factor 1.0
  }

  touchpad {
    tap
    dwt
    drag true
    accel-profile "flat"
    accel-speed 0.0
    scroll-factor 0.5
  }

  disable-power-key-handling
}

gestures {
  hot-corners {
    off
  }
}

cursor {
  xcursor-theme "capitaine-cursors"
  xcursor-size 48
}

xwayland-satellite {
  off
}

environment {
  DISPLAY ":0"
}

output "Acer Technologies XB270HU #ASM9tUVZnard" {
  mode "2560x1440@119.998"
  scale 1
  transform "normal"
  position x=0 y=0
}

output "Dell Inc. DELL AW2723DF 9CGJNP3" {
  mode "2560x1440@279.958"
  scale 1
  transform "normal"
  position x=2560 y=0
  focus-at-startup
}

output "BOE 0x0BC9 Unknown" {
  mode "2560x1600@165.000"
  scale 1.5
  transform "normal"
  position x=0 y=0
  focus-at-startup
}

overview {
  workspace-shadow {
    off
  }
}

layer-rule {
  match namespace="^wallpaper|quickshell$"
  place-within-backdrop true
}

layout {
  background-color "transparent"

  gaps 2

  center-focused-column "never"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-display "tabbed"
  default-column-width { proportion 0.5; }

  focus-ring {
    off
    width 2
    active-color "#3B3E93"
    inactive-color "#505050"
  }

  border {
    width 2
    active-color "#3B3E93"
    inactive-color "#505050"
  }

  tab-indicator {
    hide-when-single-tab
    gaps-between-tabs 2
    corner-radius 8
    width 4
    gap -4
    length total-proportion=0.5
    position "top"
    place-within-column
    active-color "#AA4869"
    inactive-color "#2C3059"
  }
}

debug {
  honor-xdg-activation-with-invalid-serial
}

prefer-no-csd

screenshot-path "~/pictures/screenshots/%Y-%m/screenshot-%Y-%m-%d-%H-%M-%S.png"

window-rule {
  match app-id=r#"^org.gnome.Nautilus$"# title="^Save As$"
  match app-id=r#"^org.gnome.Nautilus$"# title="^File Upload$"
  open-floating true
}

window-rule {
  match app-id=r#"^org.pulseaudio.pavucontrol$"#
  default-column-width { proportion 0.33333; }
}

window-rule {
  match app-id=".*"
  geometry-corner-radius 2
  clip-to-geometry true
}

recent-windows {
  debounce-ms 750

  open-delay-ms 150

  highlight {
    urgent-color "#AA4869"
    active-color "#3B3E93"
    padding 30
    corner-radius 8
  }

  previews {
    max-height 480
    max-scale 0.5
  }

  binds {
    Mod+Grave { next-window; }
    Mod+Shift+Grave { previous-window; }
  }
}

include "binds/apps.kdl"
include "binds/media.kdl"
include "binds/navigation.kdl"
include "binds/actions.kdl"
include "binds/discord.kdl"
